@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>

<div class="text-center">
   <div class="container h-100">
      <div>
          <h2>Insira um nome de produto um Cep (utilizando xxxxx-xxx) ou "cotações"</h2>
      </div>    
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
</div>

<div id="produto">
    <h6> &middot; Busca de produto</h6>
    <p>Google</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Loja</th>
            <th scope="col">Produto</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody id="tableGoogle">
        </tbody>
    </table>
    <hr>
    <p>Zoom</p>
</div>

<div id="correios">
    <h6> &middot; Busca Cep Correios</h6>
    <hr>
    <p class="Rua"></p>
    <p class="Bairro"></p>
    <p class="Estado"></p>
    <p class="Cidade"></p>
    <p class="Cep"></p>
</div>

<div id="cotacoes">
    <h6> &middot; Valores cotações</h6>
    <p>Fonte de dados: Uol</p>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Moeda</th>
            <th scope="col">Abertura</th>
            <th scope="col">Fechamento</th>
            <th scope="col">Variação</th>
          </tr>
        </thead>
        <tbody id="cotacoes_table">
        </tbody>
    </table>
</div>

<script id="tmplCotacao" type="text/template">
  <tr>
    <td>{{name}}</td>
    <td>{{openbidvalue}}</td>
    <td>{{askvalue}}</td>
    <td>{{variationpercentbid}}</td>
  </tr>
</script>

<script id="tmplProduto" type="text/template">
  <tr>
    <td>{{Loja}}</td>
    <td>{{Produto}}</td>
    <td>{{Valor}}</td>
  </tr>
</script>

<style>
    
    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-colorred: darkorange;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    div{
        margin-bottom: 15px;
    }
</style>