@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Este é um site de estudo , focado em aplicações de Raspagem de Tela (crawler), utilizando tecnologias como requisição de pagina e seleção de trechos com nodes.</p>
